// custom styles
/* Nav Tabs*/
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  background-color: transparent !important;
  border-color: transparent !important;
  border-bottom: 2px solid red !important;
}
.nav-link {
  &:hover,
  &:focus {
    // Prevents active .nav-link tab overlapping focus outline of previous/next .nav-link

    border-color: transparent !important;
  }
}
// custom variables
$primary: #c29938;
$light: #fbf5e5;

// import the functions & variables
@import '../node_modules/bootstrap/scss/_functions';
@import '../node_modules/bootstrap/scss/_variables';

$custom-theme-colors: (
  'altlight': #f2ebfa,
  'altdark': #522192,
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

// import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';
